$calendarDayWidth: 100px;
$calendarDayHeight: 100px;
$calendarPadding: 10px;
$calendarDayGap: 1px;

/* prettier-ignore */
$calendarStartDays: (
  'mon': 0,
  'tue': $calendarDayWidth + $calendarDayGap,
  'wed': (
    $calendarDayWidth + $calendarDayGap
  ) * 2,
  'thu': (
    $calendarDayWidth + $calendarDayGap
  ) * 3,
  'fri': (
    $calendarDayWidth + $calendarDayGap
  ) * 4,
  'san': (
    $calendarDayWidth + $calendarDayGap
  ) * 5,
  'sun': (
    $calendarDayWidth + $calendarDayGap
  ) * 6,
);
